/* 
    Created on : 29-abr-2020, 19:36:09
    Author     : Francisco_Antonio
*/

body
{
   font-family: 'PT Sans', sans-serif;
   font-size: 16px;
   padding:2px;
   display:block;
   width:330px;
   margin: 0 auto;
   text-align:center;
}